h1 {
    color:rgb(120, 241, 235)
}
* {
    border:solid
}

.header {
    background-color:darkorange;
    display:flex;
    justify-content:space-between;
}
.grid{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.footer{
    display:flex;
    justify-content: flex-end;
}